*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

body{
    font-family: Lato;
}


/* Shared Styles  */

.btn{
    padding: 15px 35px;
    border-radius: 5px;
    background: #E55473;
    border: none;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}



.header-container{
    width: 100%;
    height: 500px;
    background: rgba(229, 84, 115, 0.10);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

.text-header{
    margin: 80px 80px;
    padding: 50px;
    
}

.header-title{
    color: #272727;
    font-size: 20px;
    padding-bottom: 20px;

}

.header-description{
    padding-bottom: 20px;
    width: 80%;

}

.img-header{
    justify-content: space-around;
}

.right-header-img{
    width: 350px;
    height: 400px;
    margin-top: 100px;
    
}


/* Start Featured container  */

.featured-container{
    height: 100vh;
}

.text-feautures{
    width: 50%;
    margin: 30px auto;
    text-align: center;
    line-height: 20px;
    padding: 25px 15px;

}


.feature-description-1{
    margin-top: 20px;
}

.img-features{
    display: flex;
    gap: 50px;
    width: 80%;
    margin: auto;
    justify-content: space-around;
    padding: 25px 15px;
    /* border: 2px solid black; */

    
}

.box-img-size{
    width: 160px;
    height: 280px;
    padding: 50px 10px 0px 10px;
}

.box1-img{
    width: 180px;
    height: 280px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

    display: flex;
    justify-content: center;
           
}


.box2-img{
    width: 180px;
    height: 280px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.box3-img{
    width: 180px;
    height: 280px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.box-text-position{
    text-align: center;
    margin-top: 20px;
}


/* This is Service Section  */

.our-service-features{
    
    background: rgba(39, 39, 39, 0.05);
    border-radius: 8px;
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.service-img{
    margin-left: 20px;
    
}

.service-text{
    font-size: 10px;
    
}

/* This is Discount Section  */

.primary-span{
    color: #E55473;
}

.discount-section{
    background:rgba(229, 84, 115, 0.05);
    display: flex;
    width: 100%;
    height: 300px;
    
}


.discount-text{
    width: 40%;
    margin: auto;
    text-align: center;
    
}

.discount-title{
    margin-bottom: 20px;
}

.discount-description{
    margin-bottom: 20px;
    font-size: 12px;
}

.discount-img{
    width: 30%;
}

.discount-img-1{
    height: 250px;
    padding: 20px;
}

/*---------------Celebration Section Start-------------*/

.celebration-container{
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,191,233,1) 100%);
    width: 100%;
    height: 70vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.celebration-img{
    width: 30px;
    height: 35px;
    margin-top: 20px;

    
}

textarea{
    width: 65%;
    height: 150px;
    padding: 12px 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.offering-celebration{
    margin-top: 20px;
}

.birthday-celebration{
    /* margin-top: 20px; */
    margin-bottom: 30px;

}

.surprise{
    margin-top: 20px;

}

/*---------------Celebration Section End-------------*/






/* This Social Section  */

.social-text{
    width: 50%;
    margin: auto;
    text-align: center;
}

.social-text-title{
    padding-top: 60px;
    padding-bottom: 20px;
}

.social-text-description{
    padding-bottom: 30px;
}

.social-img-container{
    display: flex;
    width: 80%;
    margin: auto;

}

.all-social-img{
    display: flex;
    align-items: center;
}

.rectangle-size{
    width: 170px;
    height: 190px;
    justify-content: space-around;
    margin-left: 20px;

}


/* This is form section  */

.form-container-img{
    background-image: url('./Flower-Asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1440px;
    height: 370px;
    margin: 90px 0px;
    

}


.user-input{
    display: flex;
    width: 50%;
    margin: auto;
    align-items: center;
}

.form-info{
    width: 50%;
    margin: 30px auto;
    align-items: center;
    padding: 85px 10px 0px 10px;
    /* text-align: center; */
    
}

.form-description{
    display: flex;
    width: 100%;
    margin: auto;
}

.form-description-text{
    padding-left: 75px;

}

.form-title-text{
    padding-left: 50px;
}

.input{
    padding: 20px 50px;
}

input[type=text]{
    border: none;
    padding: 20px;
}

/* This is Footer Section  */

.footer-section{
    width: 100%;
    height: 400px;
    background: #111010;
    margin: auto;

}

.footer-info{
    width: 80%;
    margin: auto;
    padding: 100px ;
    text-align: center;
}

.footer-title{
    font-size: 20px;
    font-weight: 800;
    padding: 20px 0px;

}

.footer-description{
    color: rgba(255, 255, 255, 0.90);
    padding: 28px 0px;
}

.secondary-span{
    color: rgba(255, 255, 255, 1);
}

.copyright{
    color: rgba(255, 255, 255, 0.40);
}

